/* begin Page */
#art-page-background-glare, #art-page-background-glare-image
{
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}/* end Page */

/* begin Menu */
.art-nav-r
{
  clip: rect(auto auto auto 788px);
}

/* end Menu */

/* begin MenuItem */
.art-hmenu a .r
{
  clip: rect(auto auto auto 404px);
}
/* end MenuItem */

/* begin Box, Sheet */
.art-sheet-tl
{
  clip: rect(auto 18px 18px auto);
}

.art-sheet-tr
{
  clip: rect(auto auto 18px 18px);
}

.art-sheet-bl
{
  clip: rect(18px 18px auto auto);
}

.art-sheet-br
{
  clip: rect(18px auto auto 18px);
}

.art-sheet-tc
{
  clip: rect(auto auto 18px auto);
}

.art-sheet-bc
{
  clip: rect(18px auto auto auto);
}

.art-sheet-cr
{
  clip: rect(auto auto auto 18px);
}

.art-sheet-cl
{
  clip: rect(auto 18px auto auto);
}

.art-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Button */
.art-button-wrapper .art-button-r
{
  clip: rect(auto auto auto 405px);
}
/* end Button */

/* begin Box, Block */

.art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader .r
{
  clip: rect(auto auto auto 751px);
}
/* end BlockHeader */

/* begin Box, BlockContent */

.art-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */
.art-post-tl
{
  clip: rect(auto 8px 8px auto);
}

.art-post-tr
{
  clip: rect(auto auto 8px 8px);
}

.art-post-bl
{
  clip: rect(8px 8px auto auto);
}

.art-post-br
{
  clip: rect(8px auto auto 8px);
}

.art-post-tc
{
  clip: rect(auto auto 8px auto);
}

.art-post-bc
{
  clip: rect(8px auto auto auto);
}

.art-post-cr
{
  clip: rect(auto auto auto 8px);
}

.art-post-cl
{
  clip: rect(auto 8px auto auto);
}

.art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.art-footer-body
{
    padding-right: 0;
  zoom:1;
}

.art-footer{
  zoom:1;
}

.art-footer-r
{
  clip: rect(auto auto auto 3px);
}

/* end Footer */

/* begin LayoutCell, content */
.art-sidebar1 {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {  zoom:1; }
.art-layout-cell .art-layout-cell{ float: none; clear: both;}
/* end LayoutCell, content */

